## Demand and Supply analysis for uber

In [3]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.templates.default = "plotly_white"

data = pd.read_csv('Uber Request Data.csv')
print(data.head())

   Request id Pickup point  Driver id          Status    Request timestamp  \
0         619      Airport        1.0  Trip Completed      11/7/2016 11:51
1         867      Airport        1.0  Trip Completed      11/7/2016 17:57
2        1807         City        1.0  Trip Completed       12/7/2016 9:17
3        2532      Airport        1.0  Trip Completed      12/7/2016 21:08
4        3112         City        1.0  Trip Completed  13-07-2016 08:33:16

        Drop timestamp
0      11/7/2016 13:00
1      11/7/2016 18:47
2       12/7/2016 9:58
3      12/7/2016 22:03
4  13-07-2016 09:25:47

## Cheking null values in our data set

In [4]:
print(data.isnull().sum())

Request id              0
Pickup point            0
Driver id            2650
Status                  0
Request timestamp       0
Drop timestamp       3914
dtype: int64

## cheking number of our records

In [13]:
rows=data.shape[0]
columns=data.shape[1]
print(rows)
print(columns)

6745
6

## Cheking basic information about our data set

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   object
 5   Drop timestamp     2831 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.3+ KB

## How many trips were completed and cancelled

In [16]:
data.Status.value_counts()

Trip Completed       2831
No Cars Available    2650
Cancelled            1264
Name: Status, dtype: int64

## What are the avearage rides made by each driver

In [29]:
## first we rename columns in the data set
newData=data.rename(columns={'Request id': 'Request_id', 'Driver id': 'Driver_id'})
## newData.head()
newData.Driver_id.value_counts()

27.0     22
176.0    21
177.0    21
84.0     21
22.0     21
         ..
208.0     8
123.0     7
42.0      7
265.0     6
300.0     6
Name: Driver_id, Length: 300, dtype: int64

## How many drivers do we have in our data set