## Demand and Supply analysis for uber

In [7]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.templates.default = "plotly_white"

data = pd.read_csv('Uber Request Data.csv')
print(data.head())

   Request id Pickup point  Driver id          Status    Request timestamp  \
0         619      Airport        1.0  Trip Completed      11/7/2016 11:51
1         867      Airport        1.0  Trip Completed      11/7/2016 17:57
2        1807         City        1.0  Trip Completed       12/7/2016 9:17
3        2532      Airport        1.0  Trip Completed      12/7/2016 21:08
4        3112         City        1.0  Trip Completed  13-07-2016 08:33:16

        Drop timestamp
0      11/7/2016 13:00
1      11/7/2016 18:47
2       12/7/2016 9:58
3      12/7/2016 22:03
4  13-07-2016 09:25:47

## Cheking null values in our data set

In [8]:
print(data.isnull().sum())

Request id              0
Pickup point            0
Driver id            2650
Status                  0
Request timestamp       0
Drop timestamp       3914
dtype: int64

## cheking number of our records

In [9]:
rows=data.shape[0]
columns=data.shape[1]
print(rows)
print(columns)

6745
6

## Cheking basic information about our data set

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   object
 5   Drop timestamp     2831 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.3+ KB

## How many trips were completed and cancelled

In [11]:
data.Status.value_counts()

Trip Completed       2831
No Cars Available    2650
Cancelled            1264
Name: Status, dtype: int64

## Rename columns for easy manipulation

In [12]:
## first we rename columns in the data set
newData=data.rename(columns={'Request id': 'Request_id', 'Driver id': 'Driver_id','Pickup point':'Pickup_point',
                             'Request timestamp':'Request_timestamp','Drop timestamp':'Drop_timestamp'})
newData.head()

,Request_id,Pickup_point,Driver_id,Status,Request_timestamp,Drop_timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47

## Number of rides  by each driver  in our data set

In [21]:
driverRide=newData.groupby('Driver_id')['Request_id'].nunique() 
driverRide.head(10)

Driver_id
1.0     13
2.0     13
3.0     14
4.0     15
5.0     13
6.0     14
7.0     11
8.0      9
9.0     19
10.0    10
Name: Request_id, dtype: int64

## The driver with the highest number of rides

In [36]:
CrossData=data.crosstab(newData['Driver_id'], newData['Status'])
print(crossData)

AttributeError: 'DataFrame' object has no attribute 'crosstab'

## Number of rides in each pickup point

In [11]:
newData.Pickup_point.value_counts()

City       3507
Airport    3238
Name: Pickup_point, dtype: int64

## List of Driver with completed, cancelled and unavaliable

In [ ]:
##